<!DOCTYPE html>
<html>

  <header class="header u-padding--y-200">
    <div class="container">
      <div class="row clearfix u-margin--b-100">
        <div class="col-xs-12">
          <h1 class="u-letter-spacing--4">Hello</h1>
          <h2>It's me, Katie!
            <span class="u-display--inline-block waving-hand js-waving-hand">👋</span>
          </h2>

          <div class="teehee js-teehee">
            <%= image_tag "chloe.jpg", class: "chloe", alt: "Chloe meme" %>
          </div>
        </div>
      </div>

      <div class="row clearfix">
        <div class="col-xs-12">
          <a href="#good-dogs" id="good-dogs-link" class="header-link">
            Skip to good dogs &#x2193;
          </a>
        </div>
      </div>
    </div>
  </header>

  <section class="section">
    <div class="container">
      <div class="row clearfix">
        <div class="col-xs-12">
          <h1 class="u-margin--b-50">I like</h1>
          <p class="u-margin--b-50">Digital design, including HTML & CSS 💻</p>
          <p class="u-margin--b-50">User research and product discovery 🕵️‍♀️</p>
          <p>Illustration 🎨</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row clearfix">
        <div class="col-xs-12">
          <h1>Previous roles</h1>

          <div class="u-margin--b-100">
            <div class="company-details">
              <h3>Product designer</h3>
              <p>Dog food e-commerce</p>
            </div>

            <div class="company-role">
              <%= image_tag "paws.png", class: "company-logo", alt: "Paws logo" %>
              <h2>Paws.com</h2>
            </div>
          </div>

          <div class="u-margin--b-100">
            <div class="company-details">
              <h3>Product designer</h3>
              <p>HR software</p>
            </div>

            <div class="company-role">
              <%= image_tag "charliehr.png", class: "company-logo", alt: "CharlieHR logo" %>
              <h2>CharlieHR</h2>
            </div>
          </div>

          <div class="u-margin--b-100">
            <div class="company-details">
              <h3>Digital designer and developer</h3>
              <p>Design agency</p>
            </div>

            <div class="company-role">
              <%= image_tag "makingpretty.png", class: "company-logo", alt: "Making Pretty logo" %>
              <h2>Making Pretty</h2>
            </div>
          </div>

          <div>
            <div class="company-details">
              <h3>Teaching assistant and developer</h3>
              <p>Code school</p>
            </div>

            <div class="company-role">
              <%= image_tag "steer.jpg", class: "company-logo", alt: "Steer logo" %>
              <h2>Steer</h2>
            </div>
          </div>
    
        </div>
      </div>
    </div>
  </section>

   <section id="good-dogs" class="section">
    <div class="container">
      <div class="row clearfix">
        <div class="col-xs-12">
          <h1>Good dogs</h1>
        </div>
      </div>

      <div class="row clearfix">
        <div class="col-xs-12 col-md-4">
          <a href="https://www.tammyswarek.com/shelter-pets-project" target="_blank" rel="noopener noreferrer">
            <%= image_tag "doggo-1.jpg", class: "doggo-img", alt: "Good doggo 1" %>
          </a>
        </div>

        <div class="col-xs-12 col-md-4">
          <a href="https://www.instagram.com/tamanegi.qoo.riku" target="_blank" rel="noopener noreferrer">
            <%= image_tag "doggo-2.jpg", class: "doggo-img", alt: "Good doggo 2" %>
          </a>
        </div>

        <div class="col-xs-12 col-md-4">
          <a href="http://maddieonthings.com" target="_blank" rel="noopener noreferrer">
            <%= image_tag "doggo-3.jpg", class: "doggo-img", alt: "Good doggo 3" %>
          </a>
        </div>
      </div>
    </div>
  </section>


  <%= render 'shared/footer' %>
</html>
